.header {
  width: 90%;
  padding-top: 10px;
  margin-bottom: 20px;
  color: var(--primary-text-color);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-text-container {
  display: flex;
  align-items: center;
  gap: 14px;
}

.header-text-container img {
  width: 42px;
  height: 42px;
}

.header-text {
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.sub-heading {
  font-size: 15px;
  margin: 0;
}

.heading-score {
  font-size: 20px;
  font-weight: 500;
  padding: 8px 14px;
}

.heading-score span{
    color: rgb(128, 126, 126);
}

@media (max-width: 600px) {
  .header {
    padding: 12px 18px;
  }

  .heading {
    font-size: 18px;
  }

  .heading-score {
    font-size: 13px;
    padding: 6px 10px;
  }
}

@media (max-width: 369px) {
  .header{
    display: block;
    text-align: center;
  }
}